{% extends "catalog/base.html" %}

{% block content %}
    {% if perms.catalog.delete_book %}  # are these ref to book correct?
        <h1>Delete Book {{ book.title }}</h1>
        <form method="Post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Delete">
            <a href="{% url 'index' pk=book.id %} ">Cancel</a>   # not sure about ID field here
        </form>
    {% else %}
        You do not have permission to access this feature
        <a href="{% url 'index' %}">Home</a>
    {% endif %}
{% endblock %}
